<!DOCTYPE html>
<html>
<head>
	<title>Mongoose Dashboard</title>
</head>
<style>
	* {margin: 0; padding: 0; }
	input, label {display: block; margin-bottom: 5px; margin-top: 5px; }
	.wrapperA {width: 100%;}
	.containerA {width: 665px; margin: 50px auto; padding: 40px; background-color: white; opacity: 0.85; }
	.links {margin-bottom: 50px;}
	form {margin: 25px;}
	body {background: url(img/sun.png) no-repeat center center fixed; }
</style>
<body>
	<div class="wrapperA">
		<div class="containerA">
		<p class="links"><a href="/">Add New Animal</a> | <a href="/results">View All Animals</a></p>
		<fieldset>
		<legend><h3>Add Animal</h3></legend>
			<form action="/life" method="post">
				<label for="name">Animal Name:</label>
					<input type="text" name="name" id="name"></input>
				<label for="country">Country:</label>
					<input type="text" name="country"> </input>
				<label for="group">Group: </label>
					<input type="text" name="group"></input>
				<input type="submit" name="submit"></input>
			</form>
		</fieldset>
		</div>
	</div>
</body>
</html>