<!DOCTYPE html>
<html>
<head>
	<title>update</title>
</head>
<style>
	* {margin: 0; padding: 0; }
	input, label {display: block; margin-bottom: 5px; margin-top: 5px;}
	.wrapperC {width: 100%;}
	.containerC {width: 665px; margin: 50px auto; padding: 40px; background-color: white; opacity: 0.85; }
	.links {margin-bottom: 50px;}
	form {margin: 25px;}
	body {background: url(img/sun.png) no-repeat center center fixed; }
</style>
<body>
	<div class="wrapperC">
		<div class="containerC">
			<p class="links"><a href="/">Add New Animal</a> | <a href="/results">View All Animals</a></p>
			<fieldset>
			<legend><h3>Update Animal</h3></legend>
			<form action="/animal/<%= oneAnimal.id %>" method="post">
				<p><label for="name">Name: </label></p>
				<p><input type="text" name="name" value="<%= oneAnimal.name %>" /></p>
				<p><label for="name">Country: </label></p>
				<p><input type="text" name="country" value="<%= oneAnimal.country %>" /></p>
				<p><label for="name">Group: </label></p>
				<p><input type="text" name="group" value="<%= oneAnimal.group %>" /></p>
				<p><input type="submit" value="save"></input></p>
			</form>
			</fieldset>
		</div>
	</div>
</body>
</html>